.cardCountainer {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 0 0 8px 8px;
  background-color: rgb(41, 41, 80);
  color: beige;
}

.imageCard {
  width: 330px;
}

.linkDetails {
  border-radius: 1px solid wheat;
  text-decoration: none;
  color: rgb(20, 175, 175);
}