body{
   background-color: rgb(38, 71, 80);

}

.addCardMovieList {
  background-color: rgb(24, 46, 75);
  border-radius: 5px;
  color: rgb(69, 114, 99);
  display: flex;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  width: 200px;
}

.buttonCountainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
