.formCountainer {
  background-color: rgb(31, 63, 31);
  color: antiquewhite;
  padding: 30px;
 
}

.formCountainer input {
  margin-left: 20px;
  margin-bottom: 10px;
}

.formCountainer select {
  margin-left: 20px;
  margin-bottom: 10px;
}

.formCountainer textarea {
  margin-left: 20px;
  margin-bottom: 10px;
  width: 200px;
  height: 50px;
}

.formCountainer button {
  background-color: rgb(155, 211, 211);
  border-radius: 8px;
  border-style: none;
  color: rgb(58, 58, 114);
  height: 25px;
  width: 80px;

}

.titlePage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8%;
  color: rgb(155, 211, 211);
}